<div class="pasteSettings" id="actualsettings">
  <div class="pasteContainer">
    <h1>Paste Settings</h1>
    <p>Want us to automatically paste your clipboard on load?</p>
    <label class="switch">
      <input type="checkbox" id="clipCheck">
      <span class="slider round"></span>
    </label>
    <p>Do you want longer URLs? (more secure)</p>
    <label class="switch">
      <input type="checkbox" id="linkCheck">
      <span class="slider round"></span>
    </label>
    <p>Do you want us to instantly delete your paste after viewed?</p>
    <label class="switch">
      <input type="checkbox" id="deleteCheck">
      <span class="slider round"></span>
    </label>
    <p>Do you want image embeds?</p>
    <label class="switch">
      <input type="checkbox" id="embedCheck">
      <span class="slider round"></span>
    </label>
    <p>Want to put "slugs" in your URL?</p>
    <input type="text" class="urlInputOne" value="https://www.imperialb.in/" readonly>
    <input type="text" class="urlInputTwo" id="customURL" placeholder="hello/there"
      oninput="document.getElementById('previewURL').innerHTML = `(https://www.imperialb.in/${document.getElementById('customURL').value}/documentID)`">
    <p id="previewURL">(https://www.imperialb.in/p/documentID)</p>
    <p>How long do you want your pastes to stay for? (days)</p>
    <select name="Day" id="day">
      <script>
        // Quick way to add 31 options.
        for(let i = 1; i <= 31; i++) {
          document.getElementById("day").innerHTML += `<option value=${i}>${i}</option>`;
        }
      </script>
    </select><br><br>
    <button id="cancel-settings" class="cancelSettings" onclick="cancelSettings()">Cancel</button>
    <button id="save-settings" class="saveSettings" onclick="saveSettings()">Save</button>
    <br><br>
  </div>
</div>