<div class="menu">
  <div class="settings" id="accountDrop" style="display: none;">
    <ul class="account">
      <li class="setting" onclick="location.href='/account'">User settings</li>
      <li class="setting" onclick="toggleMenu()">Paste settings</li>
      <li class="setting" id="discord" onclick="window.open('https://discord.gg/cTm85eW49D', '_blank')">
        Discord</li>
      <div class="dumbLine"></div>
      <li class="setting" id="logoutBtn" onclick="location.href = '/logout?_method=DELETE'">Logout</li>
    </ul>
  </div>
  <div class="menu-content">
    <a class="bringToHome" href="/">
      <h6>IMPERIAL</h6>
    </a>
    <ul>
      <li id="save"> <button id="icon" onclick="duplicate()"><i class="fas fa-file-import"></i></i></button>
      </li>
      <li id="new"> <button id="icon" onclick="newDocument()"><i class="fas fa-file-alt fa-lg"></i></button> </li>
      <li id="account"> <img src="<%= pfp %>" alt="Profile picture" class="pfp" draggable="false"> </li>
    </ul>
  </div>
  <ul id="messages">
    <li class="message info">
      <i class="fas fa-trash" style="padding-right: 4px;" aria-hidden="true"></i>
      <%= deleteDate %>
    </li>
  </ul>
</div>