<div class="menu">
  <div class="settings" id="accountDrop" style="display: none;"></div>
  <div class="menu-content">
    <a class="bringToHome" href="/">
      <h6>IMPERIAL</h6>
    </a>
    <ul>
      <li id="save" class="tooltip" data-tippy-content="Duplicate document"> <button id="icon" onclick="duplicateDocument()"><i class="fas fa-file-import"></i></i></button></li>
      <li id="new" class="tooltip" data-tippy-content="New document"> <button id="icon" onclick="newDocument()"><i class="fas fa-file-alt fa-lg"></i><br></button>
      </li>
      <li> <button id="login" onclick="location.href='/login'">Login</button> </li>
      <li> <button id="signup" onclick="location.href='/register'">Signup</button></li>
      <li id="account"> <img src="/assets/img/pfp.png" alt="Profile picture" class="pfp" draggable="false"
          style="display: none"> </li>
    </ul>
  </div>
  <ul id="messages">
    <li class="message info">
      <i class="fas fa-trash" style="padding-right: 4px;" aria-hidden="true"></i>
      <%= deleteDate %>
    </li>
  </ul>
</div>