EMAIL_HOST=example
EMAIL_PORT=example
EMAIL_USER=example
EMAIL_PASS=example

DOCUMENT_URI=example
MONGO_URI=example
MAIN_URI=example

DEVELOPER_USER=example

REDIS_HOST=example

COOKIE_SECRET=example
SESSION_SECRET=example
ACCESS_TOKEN_SECRET=example
REFRESH_TOKEN_SECRET=example