<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPERIAL | About</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <meta property="og:image" content="/assets/favicon/favicon-96x96.png">
    <meta name="description" content="About ImperialBin">
</head>

<body>
    <img src="/assets/img/logo.png" alt="Imperials logo" class="logo" draggable="false">
    <div class="home">
        <h1>Imperial</h1>
        <p>A fast, feature rich, and clean<br>paste bin</p>
        <button class="pasting">Start pasting!</button>
    </div>
    <div class="not-really-home">
        <div class="containers">
            <div class="a-quite-large-container">
                <h2>Want to get a beta key?</h2>
                <p>If you'd like to get a beta key, make sure to join our Discord! We do drops sometimes for people that
                    aren't members!</p>
                <button class="discord">Discord</button>
            </div>
        </div>
        <br><br><br>
        <div class="another-container">
            <h2>Here are some features</h2>
            <div class="features">
                <div class="small-container">
                    <h2>Up-to 31 day storage length!</h2> <br>
                    <p class="features">Members have 31 days of paste storage </p>
                </div>
                <div class="small-container">
                    <h2>Auto pasting</h2> <br>
                    <p class="features">With a toggle, you can have our site automatically paste your clipboard for
                        faster sharing!</p>
                </div>
                <div class="small-container">
                    <h2>Instant delete after viewed</h2> <br>
                    <p class="features">Members have an option to have a paste automatically be deleted after being
                        viewed!</p>
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="a-quite-large-container">
                <h2>What are you waiting for?</h2>
                <button>Start pasting!</button>
                <p>Or</p>
                <button class="login">Login</button>
                <button class="signup">Signup</button>
            </div>
        </div>
    </div>
</body>

</html>