<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <title>IMPERIAL</title>
  <meta name="description" content="All about IMPERIAL!">
  <meta name="keywords"
    content="Imperial, Imperialb, Imperialbin, imperialb.in, hastebin, bin, paste, instant delete pastes, document sharing, code sharing, visual studio code, vsce, vsc, vs, visual studio, code, developer, developers, dev, devlooskie, looskie, looskieee, IMPERIAL, paste your document, paste, your, document, editor, invite only, invite, api, restful api, json api, discord">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css?v=1">
  <link rel="stylesheet" href="/assets/css/secondary.css">
  <link rel="stylesheet" href="/assets/css/about.css">
</head>

<body>
  <nav>
      <button class="farRight">Open <i class="btnRight fas fa-chevron-right"></i></button>
    <a href="/">
      <img src="/assets/img/Logo.png" alt="IMPERIAL Logo" class="logo" draggable="false">
    </a>
  </nav>
  <main>
    <div class="flex">
      <div class="leftFlex">
        <h1>IMPERIAL</h1>
        <h2>Store your text fast, securely,<br>and in style.</h2>
      </div>
      <div class="rightFlex">
        <img src="/assets/img/mockup.png" class="mockup" alt="IMPERIAL mockup" draggable="false">
      </div>
    </div>
    <img src="/assets/img/wiggle.svg" alt="IMPERIAL wiggle" class="wiggle">
    <div class="everythingElse">

      <!-- FEATURE LIST -->
      <div class="containers">
        <div class="container">
          <i class="container-icon fas fa-bolt"></i>
          <h3 class="container-title">Extremely fast...</h3>
          <p class="container-text">Create, get, and edit documents as fast as ~100ms!</p>
        </div>
        <div class="container">
          <i class="container-icon fas fa-user-friends"></i>
          <h3 class="container-title">Peer editing...</h3>
          <p class="container-text">Add friends or other IMPERIAL members to edit a document!</p>
        </div>
        <div class="container">
          <i class="container-icon fas fa-code-branch"></i>
          <h3 class="container-title">Open Sourced...</h3>
          <p class="container-text">Everything related to IMPERIAL is 100% Open Sourced!</p>
        </div>
        <div class="container">
          <i class="container-icon fas fa-exchange-alt"></i>
          <h3 class="container-title">Integrations...</h3>
          <p class="container-text">IMPERIAL offers integrations for GitHub Gists, and Discord!</p>
        </div>
        <div class="container">
          <i class="container-icon fas fa-server"></i>
          <h3 class="container-title">Strong API...</h3>
          <p class="container-text">Take advantage of our robust API and create, edit and delete documents!</p>
        </div>
        <div class="container">
          <i class="container-icon fas fa-lock"></i>
          <h3 class="container-title">Encryption...</h3>
          <p class="container-text">Create encrypted documents and unlock them with a password!</p>
        </div>
      </div>

      <!-- WHAT MAKES IMPERIAL DIFFERENT?!?! -->
      <div class="relativelyLargeContainerIdSay">
        <h4>What makes IMPERIAL different?</h4>
        <p>We at IMPERIAL have a passion to make great, empowering, and clean software. We care about our community, our
          developers and everyone associated with us; whilst maintaining stability, great software, and keeping close
          with each other as a whole.</p>
      </div>
      <br><br>

      <!-- SOFTWARE -->
      <h4 class="headline">Software</h4>
      <div class="containers">
        <div class="container">
          <img src="/assets/img/vsc-logo.png" alt="VSC LOGO" class="container-icon" draggable="false">
          <h3 class="container-title">IMPERIAL-vsc</h3>
          <p class="container-text">Link your IMPERIAL account to VSC and quickly make documents!</p>
          <a class="container-link" href="https://marketplace.visualstudio.com/items?itemName=Looskie.Imperial" target="_blank">DOWNLOAD</a>
        </div>
        <div class="container">
          <img src="/assets/img/node-logo.png" alt="NODE LOGO" class="container-icon" draggable="false">
          <h3 class="container-title">IMPERIAL-node</h3>
          <p class="container-text">Implement IMPERIAL in your NodeJS project easily!</p>
          <a class="container-link" href="https://www.npmjs.com/package/imperial-node" target="_blank">DOWNLOAD</a>
        </div>
        <div class="container">
          <img src="/assets/img/py-logo.png" alt="PYTHON LOGO" class="container-icon" draggable="false">
          <h3 class="container-title">IMPERIAL-py</h3>
          <p class="container-text">Implement IMPERIAL in your Python project easily!</p>
          <br>
          <a class="container-link" href="https://pypi.org/project/imperial-py/" target="_blank">DOWNLOAD</a>
        </div>
      </div>
      <br><br><br><br>
    </div>
    <img src="/assets/img/wiggletwo.svg" alt="Wiggle Two" class="wiggleTwo">
  </main>
  <footer>
    <div class="footer-container">
      <a href="/terms">Terms of Service</a>
      <a href="/">
        <img src="/assets/img/Logo.png" class="footer-logo" alt="IMPERIAL logo">
      </a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>
</body>

</html>