<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
  <link rel="stylesheet" href="/assets/css/register.css">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <title>IMPERIAL | This document is encrypted!</title>
  <meta name="description" content="Enter your new password!">
  <script>
    let documentId = '<%= documentId %>'
    if (location.pathname == `/p/getDocumentAccess/${documentId}`) {
      window.history.pushState(
        {},
        null,
        `../${documentId}`
      );
    }
  </script>
</head>

<body>
  <h1>This document is password protected</h1>
  <i class="error">
    <% if( error ) {%>
    <%= error %>
    <% } %>
  </i>
  <form action="/p/getDocumentAccess/<%= documentId %>" method="POST">
    <div>
      <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required />
    </div>
    <button type="submit">View encrypted document</button>
  </form>
</body>

</html>