<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <title>IMPERIAL | Login</title>
  <meta name="description"
    content="Login to IMPERIAL here so you can access all of your IMPERIAL account and features!">
  <meta name="keywords"
    content="Imperial, Imperialb, Imperialbin, imperialb.in, hastebin, bin, paste, instant delete pastes, document sharing, code sharing, visual studio code, vsce, vsc, vs, visual studio, code, developer, developers, dev, devlooskie, looskie, looskieee, IMPERIAL, paste your document, paste, your, document, editor, invite only, invite, api, restful api, json api, discord">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css?v=1">
  <link rel="stylesheet" href="/assets/css/secondary.css">
</head>

<body>
  <main>
    <a href="/">
      <img src="/assets/img/Logo.png" alt="IMPERIAL Logo" class="logo" draggable="false">
    </a>
    <div class="container">
      <form action="/login" method="POST">
        <h2>Glad to see you back!</h2>
        <i class="error">
          <% if( messages.error ) {%>
          <%= messages.error %>
          <% } %>
        </i>
        <div class="actualStuff">
          <div>
            <div class="tile"><i class="far fa-envelope"></i></div>
            <input type="text" id="email" name="email" placeholder="Email or username..." autocomplete="off" autofocus
              required>
          </div>
          <div>
            <div class="tile"><i class="fas fa-lock"></i></div>
            <input type="password" id="password" name="password" placeholder="Password..." autocomplete="off" required>
          </div>
          <a href="/forgot">
            <span id="subtext">Forgot password?</span>
          </a>
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
    <div class="waves">
      <img src="/assets/img/wave.svg" alt="IMPERIAL Wave svg" class="wave" draggable="false">
    </div>
  </main>
  <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>
</body>

</html>