<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>IMPERIAL | Login</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="stylesheet" href="/assets/css/reallyGlobal.css?v=1">
    <link rel="stylesheet" href="/assets/css/register.css?v=1">
</head>

<body>
    <h1>Login to IMPERIAL</h1>
    <i class="error">
        <% if( messages.error ) {%>
        <%= messages.error %>
        <% } %>
    </i>
    <form action="/login" method="POST">
        <div>
            <input type="text" id="email" name="email" placeholder="Email or Username" autocomplete="off" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required>
        </div>
        <a href="/forgot">
            <p id="forgot">Forgot password?</p>
        </a>
        <br>
        <button type="submit">Login</button>
    </form>
    <nav>
        <ul>
            <a href="/">
                <li>HOME</li>
            </a>
            <a href="/register">
                <li>REGISTER</li>
            </a>
            <a href="#">
                <li class="on-link">LOGIN</li>
            </a>
            <a href="https://discord.gg/cTm85eW49D" target="_blank">
                <li>DISCORD</li>
            </a>
        </ul>
    </nav>
</body>

</html>