<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
  <link rel="stylesheet" href="/assets/css/secondary.css">
  <title>IMPERIAL | Redeem code</title>
  <meta name="description" content="Have a Member+ code? Activate it here!">
</head>

<body>
  <main>
    <img src="/assets/img/Logo.png" alt="IMPERIAL Logo" class="logo" draggable="false">
    <div class="container">
      <form action="/account/redeem" method="POST">
        <h2>Redeem code</h2>
        <i class="error">
          <% if( error ) {%>
          <%= error %>
          <% } %>
        </i>
        <div class="actualStuff">
          <div>
            <div class="tile"><i class="fas fa-qrcode"></i></div>
            <input type="text" id="code" placeholder="Code..." autocomplete="off" autofocus required>
          </div>
          <a href="/forgot">
            <span id="subtext">Forgot password?</span>
          </a>
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
    <div class="waves">
      <img src="/assets/img/wave.svg" alt="IMPERIAL Wave svg" class="wave" draggable="false">
    </div>
  </main>
  <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>

<!--   <h1>Redeem code</h1>
  <i class="error">
    <% if( error ) {%>
    <%= error %>
    <% } %>
  </i>
  <form action="/account/redeem" method="POST">
    <div>
      <input type="text" id="code" name="code" placeholder="Code" autocomplete="off" required>
    </div>
    <button type="submit">Redeem code</button>
  </form>
  <nav>
    <ul>
      <a href="/">
        <li>HOME</li>
      </a>
      <a href="#">
        <li class="on-link">ACCOUNT</li>
      </a>
      <a href="https://discord.gg/cTm85eW49D" target="_blank">
        <li>DISCORD</li>
      </a>
    </ul>
  </nav> -->
</body>

</html>