<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
  <link rel="stylesheet" href="/assets/css/register.css">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <title>IMPERIAL | Forgot password</title>
  <meta name="description" content="Enter your new password!">
</head>

<body>
  <main>
    <img src="/assets/img/Logo.png" alt="IMPERIAL Logo" class="logo" draggable="false">
    <div class="container">
      <form action="/resetPassword" method="POST">
        <h2>Reset your password</h2>
        <i class="error">
          <% if( error ) {%>
          <%= error %>
          <% } %>
        </i>
        <div class="actualStuff">
          <div>
            <div class="tile"><i class="fas fa-key"></i></div>
            <input type="password" id="password" name="password" placeholder="New password..." autocomplete="off" autofocus required>
          </div>
          <div>
            <div class="tile"><i class="fas fa-key"></i></div>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password..."
              autocomplete="off" required>
          </div>
          <div>
            <div class="tile"><i class="fas fa-qrcode"></i></div>
            <input type="text" id="token" name="token" value="<%= token %>" readonly></input>
          </div>
          <button type="submit">Reset password</button>
        </div>
      </form>
    </div>
    <div class="waves">
      <img src="/assets/img/wave.svg" alt="IMPERIAL Wave svg" class="wave" draggable="false">
    </div>
  </main>
  <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>
</body>

</html>