<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/successerror.css">
    <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <title>IMPERIAL | Success!</title>
    <meta name="description" content="Yayy! Success!">
</head>

<body>
    <h1 class="successText">Yay! Success!</h1>
    <h2>
        <%= successMessage %>
    </h2>
    <p>Perhaps maybe you would like to <br>paste something too?</p>
    <a href="/">
        <button>Paste your mind!</button>
    </a>
    <script>
        if (localStorage.getItem('inviteCode')) {
            localStorage.removeItem('inviteCode');
        }
    </script>
</body>

</html>