<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
  <link rel="stylesheet" href="/assets/css/secondary.css">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <title>IMPERIAL | Success!</title>
  <meta name="description" content="<%= successMessage %>">
</head>

<body>
  <main>
    <img src="/assets/img/Logo.png" alt="IMPERIAL Logo" class="logo" draggable="false">
    <div class="container">
      <h2 class="success">Success!</h2>
      <div class="actualStuff">
        <p><%= successMessage %></p>
        <a class="noOpacity" href="/">
          <button>Go home</button>
        </a>
      </div>
    </div>
    <div class="waves">
      <img src="/assets/img/wave.svg" alt="IMPERIAL Wave svg" class="wave" draggable="false">
    </div>
  </main>
  <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>
  <script>
    if (localStorage.getItem('inviteCode')) {
      localStorage.removeItem('inviteCode');
    }
  </script>
</body>

</html>
