<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
  <link rel="stylesheet" href="/assets/css/register.css">
  <title>IMPERIAL | Terms of Service</title>
  <meta name="description" content="Read IMPERIAL's Terms of Service here.">
</head>

<body>
  <nav class="generic">
    <img src="/assets/img/Logo.png" alt="IMPERIAL Logo" class="logo">
    <h3>Terms of Service</h3>
  </nav>
  <br><br><br>
  <div class="content">
    <h2>Terms of Service</h2>
    <span class="date">Effective date: 3/25/2021</span>
    <span class="date">Last changed: 3/25/2021</span>
    <br>
    <p>Welcome to IMPERIAL, in order to use our service(s), you will need to comply with our Terms of Service ("Terms",
      "Terms of Service", "TOS"). Any
      violation of the Terms of Service will or most likely end up with your account terminated, or decreased in service
      in said account.</p>
    <br>
    <p>Before we get started, here a couple of things you should now,</p>
    <p>We are going to make these terms AS READABLE AS POSSIBLE, transparency is key with our users.</p>
    <br>
    <p>Here are all of our contacts, if you receive an email or contact regarding IMPERIAL that is not from one of these
      emails, it is NOT US</p>
    <br>
    <ul>
      <li>Abuse Contact: abuse@imperialb.in</li>
      <li>Support Contact: support@imperialb.in</li>
      <li>No reply Contact: noreply@imperialb.in</li>
      <li>Creator Contact: hello@looskie.com</li>
    </ul>
    <br>
    <h2>Introduction</h2>
    <p>Now, allow us to introduce ourselves. When you see, "we", "us", "imperial", "imperialbin", or "our", and
      everything in between, we're referring to ourselves</p>
    <br>
    <h2>Privacy</h2>
    <p>Please refer to our <a href="/privacy">Privacy Policy</a> for a full in-depth scale</p>
    <br>
    <h2>Documents</h2>
    <p>When we refer to documents, we often refer them as, "documents", "pastes", or "code".</p>
    <br>
    <p>Here are some things about documents</p>
    <br>
    <ul>
      <li>You may not use documents to store illegal information</li>
      <li>You may not use documents to store personal information about someone</li>
      <li>You may not use documents to store pornograph(s), pornographic link(s), and or porn in general. However,
        softcore hentai ASCII art is permitted within legal reason</li>
      <li>Documents may delete sooner than expected WITHOUT NOTICE</li>
      <li>Since encrypted documents are NOT viewable without a password, we can not see the documents content, relying
        on our users to be respectful, reliable, and just overall not a dickhead whilst using our service. If we suspect
        you abusing that for any reason, we can terminate your account.</li>
      <li>For legal and reputation reasons, we do not take responsibility for any document’s content. Meaning if you do
        illegal shit with our stuff, not only will you get terminated/banned, and possibly lead to government
        interference.</li>
    </ul>
    <br>
    <h2>Purchases</h2>
    <p>When you purchase anything related to IMPERIAL, you agree with the Terms of Service of the service purchased as
      well. Additionally, you may get asked regarding information about the purchased item. This could range from the
      following</p>
    <ul>
      <li>Your credit card information</li>
      <li>Your billing address</li>
      <li>Your shipping address</li>
      <li>Your first and last name</li>
      <li>Your email</li>
    </ul>
    <br>
    <h2>Refunds</h2>
    <p>When you've made a purchase, refunds are out of the question. Unless required by law. In that case, please take
      it, we don't want to deal with that...</p>
    <br>
    <h2>Accounts</h2>
    <p>When you make or use an IMPERIAL account, you agree to the following</p>
    <ul>
      <li>We can delete your account at anytime without notice</li>
      <li>We can suspend your account at anytime without notice</li>
      <li>After you link your account to other services such as Discord, we have access to do any scoped permissions to
        said service account (Check Privacy Policy for more information)</li>
    </ul>
  </div>

</body>

</html>