<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reallyGlobal.css">
    <link rel="stylesheet" href="/assets/css/register.css">
    <title>IMPERIAL | TOS</title>
    <meta name="description" content="Register for Imperial here!">
</head>

<body>
    <h1>Our TOS</h1>
    <p>By using our service/website/API/anything related to us, you agree the following</p>
    <ul>
        <li>You allow your IP to be logged whilst making an account (This is so we can verify you're not
            multi-accounting)</li>
        <li>You may not paste anything containing personal information, if you want to share personal info don't do it
            here. This includes doxxes.</li>
        <li>You may not abuse our api.</li>
    </ul>
</body>

</html>