<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <title>IMPERIAL | Account verified!</title>
    <meta name="description" content="Verify your account here!">
</head>

<body>
    <h1>Your account has been verified! Yay!</h1>
    <a href="./login">
        <button>Go login?</button>
    </a>
</body>

</html>