* {
  transition: ease all 0.25s, color 1ms, background 1ms;
  -webkit-transition: ease all 0.25s, color 1ms, background 1ms;
  -moz-transition: ease all 0.25s, color 1ms, background 1ms;
  -ms-transition: ease all 0.25s, color 1ms, background 1ms;
  -o-transition: ease all 0.25s, color 1ms, background 1ms;
}

nav {
  height: 100px;
  z-index: 4;
}

main {
  margin-top: 100px;
  min-height: 40vh;
}

.logo {
  display: unset;
}
.farRight {
  position: absolute;
  right: 25px;
  top: 34px;
  font-size: 17px;
  background: var(--kinda-dark-background);
}

.farRight:hover {
  background: var(--button);
}

.btnRight {
  margin-left: 8px;
  font-size: 13px;
}

.flex {
  min-height: 58vh;
  margin-top: 6vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
}

.leftFlex,
.rightFlex {
  flex: 50%;
}

.leftFlex {
  text-align: left;
  margin-left: 75px;
}
.rightFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mockup {
  margin-right: 20px;
}

.wiggle,
.wiggleTwo {
  margin-top: -66px;
  position: relative;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  filter: drop-shadow(0px -3px 23px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px -3px 23px rgba(0, 0, 0, 0.25));
}
.wiggleTwo {
  margin: unset;
}
.everythingElse {
  margin-top: -8px; /* -7px because there would be a gap in between the containers otherwise */
  position: relative;
  z-index: 1;
  background-color: var(--kinda-dark-background);
}

h1 {
  font-size: 45px;
  font-weight: 400;
}
h2,
p {
  color: var(--text-tad-bit-darker);
}

h4 {
  font-size: 25px;
  font-weight: 400;
}
.headline {
  margin-top: 50px;
  font-size: 34px;
  text-align: center;
}

.containers {
  text-align: center;
  max-width: 1074px;
  margin: 0 auto;
}

.container,
.relativelyLargeContainerIdSay {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 11px 17px rgb(0 0 0 / 25%);
  background: var(--main-background);
}

.container {
  position: relative;
  text-align: left;
  margin: 100px 35px 0;
  padding: 18px;
  width: 285px;
  vertical-align: top;
}

.container-icon {
  font-size: 36px;
  color: var(--kinda-dark-background);
}
.container-title {
  margin: 10px 0;
  font-size: 21px;
  font-weight: 400;
}
.container-text {
  width: unset;
  font-size: 19px;
  font-weight: 300;
}
.container-link {
  position: absolute;
  bottom: 10px;
  right: 13px;
}

.relativelyLargeContainerIdSay {
  padding: 25px;
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 180px;
}
.relativelyLargeContainerIdSay p {
  margin-top: 20px;
  font-size: 22px;
  width: unset;
}

footer {
  margin-top: 150px;
  display: table;
  margin: 0 auto;
}
footer * {
  font-size: 18px;
  margin: 0 30px;
  vertical-align: middle;
  display: table-cell;
}

.footer-logo {
  width: 90px;
}

@media screen and (max-width: 1270px) {
  h1,
  h2 {
    text-align: center;
  }
  .flex {
    flex-direction: column;
  }
  .leftFlex {
    margin: 0;
  }
  .mockup {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .mockup {
    width: 80%;
  }
  .relativelyLargeContainerIdSay {
    width: 90%;
  }
}
