nav {
  position: fixed;
  width: 105px;
  height: 100vh;
  background: var(--button-hover);
  box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.15);
}

.tippy-arrow {
  color: var(--button);
}
.tippy-box {
  font-size: 15.5px;
  margin-left: 10px;
  background: var(--button);
}

.logo {
  width: 89px;
  position: absolute;
  top: 0;
  left: -19px;
}
.logout {
  position: absolute;
  bottom: 26px;
  font-size: 30px;
  margin-left: -3px; /* Make it not off centered because of the scale */
  transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
}
.logoutBtn:hover {
  color: var(--text-error);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  font-size: 29px;
}

li:before {
  content: "";
}

main {
  margin: 0 0 0 165px;
  padding-top: 50px;
}

h1 {
  font-weight: 400;
}
h2 {
  font-weight: 300;
  font-size: 35px;
  margin-top: 60px;
  text-transform: uppercase;
}
#home {
  margin-top: 30px;
}
#codes {
  margin-bottom: 25px;
}
h6 {
  padding: 0;
  opacity: 0.8;
  font-weight: 300;
  margin: 6px 34px 3px 13px;
  text-transform: uppercase;
  user-select: unset;
}
span.stat {
  opacity: 0.7;
  font-size: 25px;
  margin: 0 13px 10px 13px;
}

.stat-tiles {
  margin-top: 50px;
  display: inline-flex;
}

.stat-tile {
  margin-right: 50px;
  padding-bottom: 6px;
  height: auto;
  background: var(--button-hover);
  display: inline-block;
  box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.stat-pfp,
.stat-pfp img {
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stat-pfp img {
  padding: 5px;
}

label {
  cursor: text;
  font-size: 18px;
}

.space {
  margin-top: 4px;
}
input {
  user-select: text;
}
input:disabled {
  opacity: 0.75;
}
.withBtn {
  margin-bottom: 10px;
}
.withBtn {
  padding-right: 100px;
}
.inlineBtn {
  float: unset !important;
  margin-left: -99px;
}
.alignedLeftBtn {
  float: unset !important;
  margin-bottom: 20px;
}
.clickable {
  opacity: 0.7;
  cursor: pointer;
}
.clickable:hover {
  opacity: 1;
}

.noOpacity:active {
  opacity: 1;
}

.document {
  cursor: pointer;
}

.cum,
.inlineform {
  display: inline;
}

.token {
  padding-right: 53px;
}

.deleteDocument {
  z-index: 6;
}
a {
  z-index: 1;
}

.checkbox-container {
  font-size: 20px;
  width: 285px;
  display: flex;
  flex-direction: column;
}
.checkbox-description {
  font-size: 18px;
  font-weight: 200;
}
.checkbox {
  margin-left: 305px;
  margin-top: -49px;
}

.dumbline {
  display: flex;
  width: 356px;
  margin: 8px 0;
  border-bottom: 1px solid var(--text-light);
  opacity: 0.2;
}
