body {
  padding: 20px 20px;
}
main {
  display: flex;
  flex-direction: row;
}
.code-box {
  display: flex;
  width: 50%;
}
.box {
  margin-top: 0 !important;
  overflow-x: auto;
}
.code-lines,
.code-linesTwo {
  margin-right: 10px;
  color: var(--text-dark);
  padding: 0;
  margin-top: 8px;
  width: 20px;
  border: 0;
  outline: none;
  font-size: 14px;
  font-family: monospace;
  text-align: right;
  user-select: none;
}

#tippy-1 {
  margin-left: 5px !important;
  margin-top: -13px !important;
}

button {
  margin-left: -8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1060px) {
  main {
    flex-direction: column;
  }
  .code-box {
    width: 100%;
  }
}
