/* Basics */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: opacity 234ms ease-in-out, background-color 164ms ease-in-out,
    color 34ms ease-in-out;
  -webkit-transition: opacity 234ms ease-in-out,
    background-color 164ms ease-in-out, color 34ms ease-in-out;
  -moz-transition: opacity 234ms ease-in-out, background-color 164ms ease-in-out,
    color 34ms ease-in-out;
  -ms-transition: opacity 234ms ease-in-out, background-color 164ms ease-in-out,
    color 34ms ease-in-out;
  -o-transition: opacity 234ms ease-in-out, background-color 164ms ease-in-out,
    color 34ms ease-in-out;
}
:root {
  --scrollbar-track: #1f252a;
  --scrollbar-thumb: #333c46;

  --main-background: #24292E;
  --secondary-background: #273038;
  --dark-background: #19222a;
  --kinda-dark-background: #161A1E;
  --lightest-background: #477094;

  --button: #1D2126;
  --button-hover: #16191d;

  --danger: #7c3232;
  --error-background: #523939;
  --success-background: #3a5239;
  --info-background: #4e5239;

  --text-error: rgba(240, 144, 135, 0.8);
  --text-success: rgba(158, 240, 135, 0.8);
  --text-info: rgba(233, 240, 135, 0.8);
  --text-dark: #40474e;
  --text-light: #ACACAC;
  --text-lighter: #c8c7c7;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

body {
  background: var(--main-background);
  color: var(--text-light);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

/* Menus */

.settings {
  position: relative;
  z-index: 99999;
}
#paster.active {
  animation: fadeInFromNone 0.5s ease-in;
}
.active {
  display: flex !important;
}
.pasteSettings {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
}

.pasteContainer {
  text-align: center;
  width: 600px;
  height: auto;
  background: var(--secondary-background);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: 0.4s ease popInAnimation;
  -webkit-animation: 0.4s ease popInAnimation;
}
.pasteContainer p {
  padding: 0 15px;
  margin: 0.67em;
}
.pasteContainer h1 {
  font-weight: 200;
  margin: 0.67em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-background);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -5px;
  bottom: 0;
  background-color: var(--text-light);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
input:checked + .slider:before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -o-transform: translateX(26px);
}
input:checked + .slider {
  background: var(--lightest-background);
}
input:focus + .slider {
  outline: none;
}
.slider.round {
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

select {
  padding: 4px;
  font-size: 15px;
  background: var(--dark-background);
  border: none;
  color: var(--text-light);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cancelSettings {
  margin-right: 20px;
}

/* Some general things */

h6 {
  user-select: none;
  color: #acacac;
  font-size: 21px;
  padding: 0;
  text-align: center;
  margin: 0;
  font-weight: 400;
  padding-top: 20px;
}
a {
  text-decoration: none;
}
.bringToHome {
  margin: 0 auto;
  display: block;
}
li.deletePaste {
  width: 105px !important;
}
#codeThing {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  color: var(--text-light);
}

#login,
#signup {
  margin: 0 20px 14px 0;
}
#signup,
.pfp {
  margin-right: 35px;
}
#icon {
  padding: 12.5px;
}
#discord:hover {
  background: #7289da;
  color: #fff !important;
}
.pfp {
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.8;
  vertical-align: middle;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pfp:hover {
  opacity: 1;
}

/* Tippy Context Menus */

.dumbLine {
  display: flex;
  width: 100%;
  margin: 8px 0;
  border-bottom: 1px solid var(--text-light);
  opacity: 0.2;
}

.tippy-arrow {
  color: var(--button-hover);
}
.tippy-box {
  background: var(--button-hover);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#tippy-1 {
  top: 13px !important;
  margin-left: -18px !important;
}

#tippy-1,
#tippy-2,
#tippy-3 {
  user-select: none;
}

.account {
  z-index: 1999 !important;
  text-align: center;
  margin: 0;
  padding: 10px;
  padding-bottom: 7px !important;
}
.account li {
  position: relative;
  margin: 8px 0;
  display: block;
  color: var(--text-light);
  font-weight: 400;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background-color 434ms ease;
  -webkit-transition: background-color 434ms ease;
  -moz-transition: background-color 434ms ease;
  -ms-transition: background-color 434ms ease;
  -o-transition: background-color 434ms ease;
}
.account li:hover {
  background: var(--dark-background);
}
.account li:first-child {
  margin-top: 0;
}
.account li:last-child {
  margin: 0 auto;
  width: 70px;
}
.account li:last-child:hover {
  background: var(--danger);
}

/* Messages */
#messages {
  position: absolute;
  box-sizing: unset;
  width: 100%;
  right: 0;
  top: 130px;
  margin: 0;
  z-index: 1;
}
#messages li {
  padding: 5px 1px;
  margin-bottom: 10px;
  display: block;
  list-style: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.message {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: -27px !important;
  margin-bottom: 10px !important;
  display: block !important;
  list-style: none !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
  padding-top: 31px !important;
  border-bottom-left-radius: 15px;
}
.message:nth-child(1) {
  z-index: 0;
}
.message:nth-child(n + 2) {
  margin-top: -35px !important;
}
.message:nth-child(2) {
  z-index: -1;
}
.message:nth-child(3) {
  z-index: -2;
}
.message:nth-child(4) {
  z-index: -3;
}
.message:nth-child(5) {
  z-index: -4;
}
.message:nth-child(6) {
  z-index: -5;
}
.error {
  color: var(--text-error);
  background: var(--error-background);
}
.success {
  color: var(--text-success);
  background: var(--success-background);
}
.info {
  color: var(--text-info);
  background: var(--info-background);
}

/* Buttons and what not lmfao */
button {
  background: var(--button);
  color: var(--text-light);
  font-size: 14px;
  padding: 6px 20px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
button:hover {
  background: var(--button-hover);
}
button:focus {
  outline: 0;
}
button:active {
  opacity: 0.9;
}

.addUserBtn {
  position: absolute;
  margin-top: 6px;
  margin-left: -104px;
  background: var(--secondary-background);
}
ul {
  z-index: 1999;
  text-decoration: none;
  margin-block-start: 0.65em;
  padding-inline-start: 30px;
  user-select: none;
}
ul#usersToAdd {
  padding-inline-start: 0;
}
ul#usersToAdd button {
  margin-bottom: 10px;
}
.deleteUser {
  margin-top: 16px;
  position: absolute;
  margin-left: -60px;
  color: var(--danger);
}
.deleteUser:hover {
  opacity: 0.8;
}

li {
  display: inline;
  user-select: none;
  margin-right: 20px;
  padding-bottom: 9px;
}

#edit,
#compare {
  padding-bottom: 10px;
  margin-left: -12px;
}
#edit {
  margin-left: 9px;
}
#compare {
  margin-left: 0;
}
#new {
  margin: 0 15px 0 -10px;
}
/* Actual menu */
.menu {
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  right: 0;
  top: -10px;
}
.menu-content {
  position: relative;
  right: 0;
  top: 0;
  z-index: 999;
  background: var(--secondary-background);
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-content ul {
  padding-bottom: 17px;
}

input {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 40px;
  color: var(--text-light);
  background: var(--kinda-dark-background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
input::placeholder {
  color: var(--text-light);
}
input:focus {
  outline: 0;
  background: var(--button-hover);
}
input#user {
  padding-right: 110px;
}
input#token {
  margin: 10px 0 0 5px;
}
.inputTiles {
}
#token {
  opacity: 0.6;
}
#token:focus {
  background: var(--kinda-dark-background);
}

.urlInputOne {
  margin-bottom: 0;
  color: var(--text-light);
}
.urlInputOne:focus {
  background-color: var(--kinda-dark-background);
}

.urlInputTwo {
  position: relative;
  width: 154px;
  margin-left: -148px;
  box-shadow: none;
  padding-left: 4px;
  background-color: var(--dark-background);
}

@keyframes popInAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@media screen and (max-width: 675px) {
  .pasteContainer {
    width: 90%;
  }
}
@media screen and (max-height: 702px) {
  .pasteContainer {
    overflow-y: scroll;
  }
}
