/* Used for ./login and ./register */

body {
  text-align: center;
}
h1 {
  font-weight: 300;
}
input {
  padding: 0 10px;
  margin-bottom: 10px;
  transform: translate3d(0, 40px, 0);
  transition: transform 1s cubic-bezier(0.17, 0.17, 0.06, 1);
}

button {
  transform: translate3d(0, 60px, 0);
  transition: background-color 666ms cubic-bezier(0.17, 0.17, 0.06, 1),
    transform 1s cubic-bezier(0.17, 0.17, 0.06, 1);
}
nav {
  transform: translate3d(0, 20px, 0);
  transition: opacity 666ms cubic-bezier(0.17, 0.17, 0.06, 1),
    transform 1s cubic-bezier(0.17, 0.17, 0.06, 1);
  width: 100%;
  margin-top: 80px;
}

.error {
  background: unset;
}
a,
a:visited {
  text-decoration: none;
}

p#forgot {
  margin-left: -157px;
  font-size: 15px;
  opacity: 0.4;
  display: inline-block;
  margin-top: 7px;
  transform: translate3d(0, 30px, 0);
  color: var(--text-light);
  transition: opacity 666ms cubic-bezier(0.17, 0.17, 0.06, 1),
    transform 1s cubic-bezier(0.17, 0.17, 0.06, 1);
}
p#forgot:hover {
  opacity: 1;
}

li {
  font-size: 18px;
  padding: 0 10px;
  display: inline;
  color: var(--text-light);
}

.on-link,
li:hover {
  color: var(--text-lighter);
}
