body {
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3 ease-in-out;
  -moz-transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3 ease-in-out;
  -o-transition: all 0.3 ease-in-out;
}
.logo {
  display: block;
  width: 105px;
  height: auto;
  margin: 0 0 0 25px;
}

.container {
  display: inline-block;
  margin: 100px 0 0 65px;
}
.waves {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
}

.wave {
  height: 100vh;
  min-height: 500px;
}

img.wave {
  filter: drop-shadow(-10px 4px 34px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(-10px 4px 34px rgba(0, 0, 0, 0.25));
}

h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  width: 401px;
  word-break: break-all;
  font-size: 20px;
  margin-bottom: 14px;
}

a {
  text-decoration: none;
  color: var(--text-light);
  opacity: 0.48;
}
a:hover {
  opacity: 1;
}
a:active {
  opacity: 0.6;
}
.noOpacity {
  opacity: 1;
}
.actualStuff {
  position: relative;
  width: 302px;
}

.tile {
  position: absolute;
  z-index: 1;
  display: inline;
  background: var(--button);
  height: 40px;
  margin-left: -1px;
  padding: 8px 14px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.secondaryTile {
  position: absolute;
  display: inline-flex;
  z-index: 1;
  padding: 8px 14px;
  margin: 4px 0 0 -40px;
  background: var(--button);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.secondaryTile:hover {
  cursor: pointer;
  background: var(--button-hover);
}
.secondaryTiles {
  margin-top: -20px;
  display: inline;
}
.secondaryTile:nth-child(2) {
  margin-left: -87px;
}
.secondaryTile:nth-child(3) {
  margin-left: -136px;
}
.codeTile {
  margin-left: -47px;
}

input {
  padding-left: 50px;
  margin-bottom: 22px;
}
button[type="submit"] {
  padding: 8px 20px;
  float: right;
}

.success,
.error {
  background: transparent;
}
.error {
  color: var(--text-error);
}
.success {
  color: var(--text-success);
}

nav.generic {
  width: 100%;
  padding: 40px 0;
  background: var(--kinda-dark-background);
}
nav.generic h2 {
  margin: 0;
  text-align: center;
}
nav.generic .logo {
  position: absolute;
  left: 9px;
  top: 9px;
}
:disabled {
  display: inline-block;
  opacity: 0.7;
  cursor: pointer;
  background: var(--button);
}

.sensitive {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: 9999;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.sensitive:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}
.content {
  width: 70%;
  margin: 0 auto;
}
.content h2 {
  font-size: 36px;
  margin-bottom: unset;
}
.content span {
  display: block;
}
.content p {
  font-size: 21px;
  width: unset;
}
.content li {
  user-select: text;
  font-size: 18px;
}

li {
  display: block;
}
li:before {
  content: "-";
}

.danger:hover {
  color: var(--text-error);
}
.key:hover {
  color: var(--text-info);
}

@media only screen and (max-width: 1100px) {
  .wave {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  nav.generic {
    padding: 0;
  }
  nav.generic h2 {
    display: none;
  }
  nav.generic .logo {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}
