name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout project
        uses: actions/checkout@v2
        with:
          clean: false

      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install deps
        run: yarn

      - name: Build
        run: yarn build

      - name: Puppeteer fix
        run: node node_modules/puppeteer/install.js

      - name: Deploy production
        run: pm2 restart default
